@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Quicksand:wght@300;400&display=swap');

body {
  font-family: 'Oxygen', sans-serif !important;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #00000010;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #535353;
  }


.login-Form {
  width:396px;
}

.invert-background a:nth-child(even) div {
  background-color: #1F2937;
}

.invert-background a:nth-child(even) div:hover {
  background-color: #374151;
}
