@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Quicksand:wght@300;400&display=swap');

body {
  font-family: 'Oxygen', sans-serif !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #361738;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #49314b;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #49314b;
  }


.magneta {
    background-color: #361738;
}

.light-magneta {
    background-color: #49314b;
}

.browny-red {
    background-color: #7A585E;
}

.login-Form {
  width:396px;
}

.magneta-button {
  transition: 0.35s;
}

.magneta-button:hover {
  transition: 0.35s;
  background-color: #491b4d;
}